@media screen and (max-width: 480px){
	/************DISEÑO INDEX************/
	
	.logo{
		width: 55%;
		margin: auto;
		float: none !important;
		padding: 10px 0px;
	}

	.menu-op{
	    position: absolute;
	    right: 8%;
	    top: 7%;
	    cursor: pointer;
	    z-index: 3;
	    display: block;
  	}

	nav{
		float: none !important;
		width: 100%;
		margin: 0px;
		display: none;
	}

	nav ul a{
		display: block;
		text-align: center;
		padding: 10px 0px !important;
	}

		header{
		height: 100%;
	}

	hgroup h1{
		font-size: 22px !important;
	}

	.hero{
		width: 95%;
	}

	.sesion1 > br, .sesion3 > br, .sesion3  h2> br{
		display: none;
	}

	.sesion1 h1, .sesion2 h1, .text-h1-nos{
		font-size: 25px;
		font-weight: bold;
	}

	.text-tit{
		font-size: 21px;
		color: #000;
	}

	.text-contenido{
		text-align: justify;
		color: #000;
	}

	.img-contenido{
		width: 50%;
		margin: auto;
	}

	.text-cont-h1{
		font-size: 25px;
		text-align: center;
	}
	/************END DISEÑO INDEX*******/

	/************DISEÑO NOSOTROS************/
	.sesion2 h1{
		margin: 0px;
	}

	.sesion3 h2{
		font-size: 20px;
		font-weight: bold;
		padding: 0px 5px;
	}

	.texto, .texto2{
		width: 95%;
		padding: 10px 8px;
		color: #000;
		text-align: justify;
	}

	.banner2, .fondo{
		height: 100%;
	}

	/*.fondo{

	}*/

	.que{
		font-size: 25px;
		font-weight: bold;
	}

	.fondo p{
		text-align: justify;
		width: 92%;
	}


	.botonc{
		margin-top:20px;
		margin-bottom: 20px;
	}

	.botonc a{
		font-size: 15px;
	}

	.icono span{
		font-size: 50px;
	}
	/************END DISEÑO NOSOTROS*******/

	/************DISEÑO SERVICIOS************/
	.sesion22{
		/*border: 2px solid red;*/
	}

	.sesion22 .uno{
		width: 100%;
		margin: 0px;
		height: 100%;
	}

	.sesion22 .uno p{
		text-align: justify;
		color: #000;
	}
	/************END DISEÑO SERVICIOS*******/


	/************DISEÑO CONTACTO************/
	.mapa, .datos{
		float: none !important;
		margin: auto;
		width: 96%;
	}

	.tituloc{
		margin: auto;
	}
	/************END DISEÑO CONTACTO*******/

	/************DISEÑO FOOTER************/
	footer{
		height: 100%;
	}

	footer p{
		font-size: 17px;
		margin-bottom: 8px;
	}
	/************END DISEÑO FOOTER*******/
}

@media screen and (max-width: 599px) and (min-width: 481px) {
	/************DISEÑO INDEX************/
	
	.logo{
		width: 35%;
		margin: auto;
		float: none !important;
		padding: 10px 0px;
	}

	.menu-op{
	    position: absolute;
	    right: 8%;
	    top: 6%;
	    cursor: pointer;
	    z-index: 3;
	    display: block;
  	}

	nav{
		float: none !important;
		width: 100%;
		margin: 0px;
		display: none;
	}

	nav ul a{
		display: block;
		text-align: center;
		padding: 10px 0px !important;
	}

		header{
		height: 100%;
	}

	hgroup h1{
		font-size: 22px !important;
	}

	.hero{
		width: 95%;
	}

	.sesion1 > br, .sesion3 > br, .sesion3  h2> br{
		display: none;
	}

	.sesion1 h1, .sesion2 h1, .text-h1-nos{
		font-size: 25px;
		font-weight: bold;
	}

	.text-tit{
		font-size: 21px;
		color: #000;
	}

	.text-contenido{
		text-align: justify;
		color: #000;
	}

	.text-contenido-new{
		text-align: center;
	}

	.img-contenido{
		width: 35%;
		margin: auto;
	}

	.text-cont-h1{
		font-size: 25px;
		text-align: center;
	}
	/************END DISEÑO INDEX*******/

	/************DISEÑO NOSOTROS************/
	.sesion2 h1{
		margin: 0px;
	}

	.sesion3 h2{
		font-size: 20px;
		font-weight: bold;
		padding: 0px 5px;
	}

	.texto, .texto2{
		width: 95%;
		padding: 10px 8px;
		color: #000;
		text-align: justify;
	}

	.banner2, .fondo{
		height: 100%;
	}

	/*.fondo{

	}*/

	.que{
		font-size: 25px;
		font-weight: bold;
	}

	.fondo p{
		text-align: justify;
		width: 92%;
	}


	.botonc{
		margin-top:20px;
		margin-bottom: 20px;
	}

	.botonc a{
		font-size: 15px;
	}

	.icono span{
		font-size: 50px;
	}
	/************END DISEÑO NOSOTROS*******/

	/************DISEÑO SERVICIOS************/
	.sesion22{
		/*border: 2px solid red;*/
	}

	.sesion22 .uno{
		width: 100%;
		margin: 0px;
		height: 100%;
	}

	.sesion22 .uno p{
		text-align: justify;
		color: #000;
	}
	/************END DISEÑO SERVICIOS*******/


	/************DISEÑO CONTACTO************/
	.mapa, .datos{
		float: none !important;
		margin: auto;
		width: 96%;
	}

	.tituloc{
		margin: auto;
	}
	/************END DISEÑO CONTACTO*******/

	/************DISEÑO FOOTER************/
	footer{
		height: 100%;
	}

	footer p{
		font-size: 17px;
		margin-bottom: 8px;
	}
	/************END DISEÑO FOOTER*******/
}

@media screen and (max-width: 799px) and (min-width: 600px) {
	/*******DISEÑO INDEX************/
	
	.logo{
		width: 25%;
		margin: auto;
		float: none !important;
		padding: 10px 0px;
	}

	.menu-op{
	    position: absolute;
	    right: 8%;
	    top: 5%;
	    cursor: pointer;
	    z-index: 3;
	    display: block;
  	}

	nav{
		float: none !important;
		width: 100%;
		margin: 0px;
		display: none;
	}

	nav ul a{
		display: block;
		text-align: center;
		padding: 10px 0px !important;
	}

		header{
		height: 100%;
	}

	hgroup h1{
		font-size: 30px !important;
	}

	.hero{
		width: 95%;
	}

	.sesion1 > br, .sesion3 > br, .sesion3  h2> br{
		display: none;
	}

	.sesion1 h1, .sesion2 h1, .text-h1-nos{
		font-size: 25px;
		font-weight: bold;
	}

	.text-tit{
		font-size: 21px;
		color: #000;
	}

	.text-contenido{
		text-align: justify;
		color: #000;
	}

	.text-contenido-new{
		text-align: center;
	}

	.img-contenido{
		width: 35%;
		margin: auto;
	}

	.text-cont-h1{
		font-size: 25px;
		text-align: center;
	}
	/************END DISEÑO INDEX*******/

	/************DISEÑO NOSOTROS************/
	.sesion2 h1{
		margin: 0px;
	}

	.sesion3 h2{
		font-size: 20px;
		font-weight: bold;
		padding: 0px 5px;
	}

	.texto, .texto2{
		width: 95%;
		padding: 10px 8px;
		color: #000;
		text-align: justify;
	}

	.banner2, .fondo{
		height: 100%;
	}

	/*.fondo{

	}*/

	.que{
		font-size: 25px;
		font-weight: bold;
	}

	.fondo p{
		text-align: justify;
		width: 92%;
	}


	.botonc{
		margin-top:20px;
		margin-bottom: 20px;
	}

	.botonc a{
		font-size: 15px;
	}

	.icono span{
		font-size: 50px;
	}
	/************END DISEÑO NOSOTROS*******/

	/************DISEÑO SERVICIOS************/
	.sesion22{
		/*border: 2px solid red;*/
	}

	.sesion22 .uno{
		width: 49%;
		margin: 0px;
		height: 100%;
	}

	.sesion22 .tres{
		margin-top: 20px;
		width: 100%;
	}
	
	.sesion22 .tres p{
		text-align: center !important;

	}

	.sesion22 .uno p{
		text-align: justify;
		color: #000;
	}

	.new-tam{
		width: 90% !important;
		margin: auto;
	}
	/************END DISEÑO SERVICIOS*******/


	/************DISEÑO CONTACTO************/
	.mapa, .datos{
		/*float: none !important;*/
		margin: auto;
		width: 48%;
	}

	.tituloc{
		margin: auto;
	}
	/************END DISEÑO CONTACTO*******/

	/************DISEÑO FOOTER************/
	footer{
		height: 100%;
	}

	footer p{
		font-size: 17px;
		margin-bottom: 8px;
	}
	/************END DISEÑO FOOTER*******/
}

@media screen and (max-width: 1023px) and (min-width: 800px) {
	
	header{
		height: 100%;
	}

	.logo{
		width: 25%;
		margin: auto;
		float: none !important;
		padding: 10px 0px;
	}

	nav{
		text-align: center;
		float: none !important;
		width: 100%;
		margin: 0px;
	}

	.banner2, .fondo{
		height: 100%;
	}

	.botonc{
		margin-bottom: 20px;
	}

	.uno{
		height: 100%;
	}
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {      /* mac*/
}
@media screen and (max-width: 1366px) and (min-width: 1024px) { }

@media screen and (min-width: 1367px) { }